*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter';
    font-style: normal;
    width: 100%;
}
body div{
    display: flex;
}

.sidebar{
    position: relative;
    top:0;
    display: flex;
    height: 130vh;
    background: #FCFCFD;
}
.sidebaricons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    border-right: 1px solid #EAECF0;
}




.sidebar:hover .sidebarhover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    background: #FFFFFF;
}



.sidebartop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 24px;
}
.mainicon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px 0px 24px;
    width: 81px;
    height: 32px;
}
.mainicon svg{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 32px;
    height: 32px;
}
.sidebartop1{
    display: flex;
    flex-direction: column;
    padding: 0px 16px;

}
.sidebartop1 div{
    padding: 12px;
    gap: 8px;
    background: #FFFFFF;
    border-radius: 6px;
}

.sidebardown{
    display: flex;
    flex-direction: column;
    padding: 0px 16px 24px;
    gap: 24px;

}

.sidebardownnav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; 
}
.sidebardownnav svg{
padding: 12px;
gap: 8px;
width: 48px;
height: 48px;
background: #FFFFFF;
border-radius: 6px;
}



.sidebarhover{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    background: #FFFFFF;
}

.sidebarhover1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 36px 16px 0px;
    gap: 16px;   
}

a {
    text-decoration: none;
}
.sidebarhover1 a{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #101828;
}

ul{
    list-style: none;
    margin-left: -25px;
}
.sidebarhoversub{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4px;
}
.sidebarhoversub li{
    padding: 8px 12px;
    gap: 8px;
}
.account{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 48px 24px 20px;
    gap: 47px;
    isolation: isolate;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
}
.email{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
}
.logout{

}
.navbarmobile{
    display: none;
}


@media  only screen and (max-width:750px)
{
    body div{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .navbarmobile{
        padding-right:20px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px 8px 12px 16px;
        background: #FFFFFF;
    }
    .navmobileright{
        display: flex;
        padding: 8px;
        gap: 8px; 
        align-items: flex-start;
        justify-content: center;
    }
    .mobileicon{
        background: linear-gradient(180deg, #FFFFFF 0%, #D0D5DD 100%), #FFFFFF;
        border: 0.2px solid #D0D5DD;
        border-radius: 8px;
    }
    .navmobileleft{
        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 8px; 
        width: 40px;
        height: 40px;
    }
}
.body{
    width:100%;
}

.main{
    /* position: relative; */
    width :100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 48px;
    gap: 48px;
    background: #FCFCFD;
    margin-left: auto;
}
.block1{
    align-self: stretch;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background{
    align-self: stretch;
    margin-left: auto;
    width:100%;
    height:240px;
    /* background: linear-gradient(159deg, rgba(151,29,226,1) 0%, rgb(231, 226, 72) 100%); */
    background-image: url('media/Image.png');
    background-size: cover;
}
.mainprofile{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 32px;
    gap: 24px;
}
.avatar{
    display:flex;
    /* background-color: aqua; */

}
.profileimage{
    margin-top:-60px;
}
.submainprofile{
    display: flex;
    width:100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 20px;
}
.profiledetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}
.mainname{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 38px;
color: #101828;
}
.mainemail{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}
.share{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.viewprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap: 8px;
    background: #7F56D9;
    border: 1px solid #7F56D9;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

}

.share svg .viewprofile svg{
    width:20px;
    height:20px;
}
.share p {
    width: 40px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    
}
.viewprofile p{
    width: 81px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

}

.block2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.form1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width:100%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0px 10px;
}
.formname{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}
.formdetails{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
    width: 100%;
}
.headerform{
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 12px;
    width:100%;
}
.inputinform{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 24px;
background: #FFFFFF;
}
.fullname{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}
.first{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

}
.first label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;  
}
.first input{
    padding: 10px 14px;
    gap: 8px;
    width:100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    
}
.second{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
}

.second label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;  
}
.second input{
    padding: 10px 14px;
    gap: 8px;
    width:100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    
}
.emailaddress{
    padding:10px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;
align-self: stretch;

}

.emailaddress label{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #344054;
}
.emailaddress input{
    background: #FFFFFF;
border: 1px solid #D0D5DD;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
height:44px;
}

.avatarfile{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    align-self: stretch;
}
.fileuplload svg:hover{
    border: 2px solid purple;

}
.headerformbtn{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 16px;
    gap: 16px;    
}
.divider1{
    height: 1px;
}
.headerformbtns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 24px;
    gap: 16px;
    align-self: stretch;    
}
.cancel{
    gap: 8px;
    width: 80px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}
.savechanges{
    padding: 10px 16px;
gap: 8px;
width: 127px;
height: 40px;
background: #7F56D9;
border: 1px solid #7F56D9;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
color:#FFFFFF  ;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

.divider{
    height:1px;
}
.toggle{
    padding: 20px; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    align-self: stretch;
}
.custom-control .custom-control-label{
    width: 16px;
    height: 16px;
}
.toogletext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.Avai{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}
.open{
    margin-top:-20px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px; 
color: #475467;
}
.username{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;
width: 100%;;
}
.username p{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #344054;
}
.form2username{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
height: 44px;
background: #FFFFFF;
border: 1px solid #D0D5DD;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
width:100%;
}
.form2username p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px 10px 14px;
    width: 139px;
    height: 44px;
    border-radius: 8px 0px 0px 8px;
}
.form2username input{
 padding: 10px 14px;
gap: 8px;
width:100%;
height: 44px;
background: #FFFFFF;
border: 1px solid #D0D5DD;
border-radius: 0px 8px 8px 0px;

}
.Website{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;
width:100%;

}
.Description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width:100%;
    
}
.Description p{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #344054;
}
.inputdescription{
    padding: 12px 14px;
    gap: 8px;
    width: 100%;
    height: 128px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;    
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.Regular{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;
}
.regularinput{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 240px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(16, 24, 40, 0.05);

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.regularinput input{
    padding: 0px;
    border-color: #D0D5DD;
    width: 240px;
    height: 44px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.icons{
    display: flex;
flex-direction: row;
align-items: space-between;
padding: 20px;
gap: 4px;
}
.icons svg{
    margin-right: 20px;
}
.country{
    display: block;
}
.country p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}
.countryimage{
    width: 100%;
    /* background-color: #101828; */
}
.countryimage img{
    width: 100%;
}
@media  only screen and (max-width:1100px)
{
    .form1{
            display: flex;
            flex-direction: column;
    }

}
@media  only screen and (max-width:830px)
{
    .avatarfile{
            display: flex;
            flex-direction: column;
    }

}
@media  only screen and (max-width:770px)
{
    .submainprofile{
            display: flex;
            flex-direction: column;
    }

}
@media  only screen and (max-width:770px)
{
    .country svg{
            width:100%;
            object-fit:cover;
    }

}
@media  only screen and (max-width:770px)
{
    .Regular{
            padding: 10px;
            display: flex;
            flex-direction: column;
    }

}
@media  only screen and (max-width:600px)
{
    .mainprofile{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    }
    .fullname{
        display:block;
    }
    .profileimage{
        position: relative;
    }

}